%h1
  Overview
%p.sub
  The list below shows an overview of the jobs in the delayed_job queue.
%table.overview
  %tr
    %th Status
    %th Count
  %tr
    %td.status
      %a{:href => u('/enqueued')} Enqueued Jobs
    %td= @job_count
  %tr
    %td.status
      %a{:href => u('/working')} Working Jobs
    %td= @working_count
  %tr
    %td.status
      %a{:href => u('/pending')} Pending Jobs
    %td= @pending_count
  %tr{:class => @failed_count > 0 ? 'failure' : ''}
    %td.status
      %a{:href => u('/failed')} Failed Jobs
    %td= @failed_count
