%h1
  Overview
%p.intro
  The list below shows the an overview of the jobs in the delayed_job queue.
  %table.overview
    %tr
      %th Status
      %th Count
    %tr
      %td.status Jobs in queue
      %td= @job_count
    %tr
      %td.status Working Jobs
      %td= @working_count
    %tr
      %td.status Failed Jobs
      %td= @failed_count
-# %table.jobs
-#   %tr
-#     %th ID
-#     %th Priority
-#     %th Attempts
-#     %th Handler
-#     %th Last Error
-#     %th Run At
-#     %th Locked At
-#     %th Locked By
-#     %th Failed At
-#     %th Created At
-#     - delayed_job.all.each do |dj|
-#       %tr
-#         %td= dj.id
-#         %td= dj.priority
-#         %td= dj.attempts
-#         %td= dj.handler
-#         %td= dj.last_error
-#         %td= dj.run_at
-#         %td= dj.locked_at
-#         %td= dj.locked_by
-#         %td= dj.failed_at
-#         %td= dj.created_at
