!!!
%html
  %head
    %title Delayed Job Web
    %link(rel="stylesheet" type="text/css" href="#{u 'stylesheets/reset.css'}")
    %link(rel="stylesheet" type="text/css" href="#{u 'stylesheets/style.css'}")
  %body
    %div.header
      %ul.nav
        - tabs.each do |tab|
          %li{:class => request.path_info == tab[:path] ? 'current' : ''}
            %a.tab{:href => u(tab[:path])}= tab[:name]
    %div#main
      = yield
    %div#footer
      %p
        Powered by
        %a{:href => 'https://github.com/collectiveidea/delayed_job'} delayed_job
        &
        %a{:href => 'https://github.com/ejschmitt/delayed_job_web'} delayed_job_web
    %script{:type => "text/javascript", :src  => u("javascripts/jquery-1.7.1.min.js")}
    %script{:type => "text/javascript", :src  => u("javascripts/jquery.relatize_date.js")}
    %script{:type => "text/javascript", :src  => u("javascripts/application.js")}
